.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

header h1 {
	font-family:'sarpanch';
}

h3 {
	color: #0E588D;
	font-size: 25px;
	text-align: center;
}

footer {
	background-color: #4A4A4A;
	height: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

footer h6 {
	color: #FFF;
}

p {
	font-family: 'Lato', sans-serif;

}

.container_2 {
	background-color: #DFDFDF;
	width: 100%;
	height: auto;
	margin:30px auto;
	clear: both;
	
	box-sizing: border-box;
}

.container_2 .list ol li {
	font-family: 'Lato', sans-serif;
}

body header nav ul li {
	float:right;
	list-style: none;
}

nav ul li {
	font-size: 25px;
	padding: 10px;
}

.container {
	background-color: #0E588D;
	background-image:url('../assets/hero.png');
	background-position: right;
	background-repeat: no-repeat;
	height: 433px;
	width: 100%;
	float: left;
}

.container h3 {
	background-color: #FFF;
	width: 300px;
  border: 10px solid;
  padding: 25px;
  margin: 25px;
}

.list {
	border: solid 1px #B2B2B2;
	border-radius: 5%;
	height: 275px;
	width: 25%;
	float: left;
	margin: 25px;
	background-color: #F0F0F0;
	padding: 10px;
	
}