header h1 {
	font-family:'sarpanch';
}

h3 {
	color: #0E588D;
}

footer h6 {
	color: #4A4A4A;
}

p {
	font-family: 'Lato', sans-serif;

}

.container_2 {
	width: 500px;
	height: auto;
	margin:30px auto;
	clear: both;
	float: center bottom;
	box-sizing: border-box;
}

.list_1 ol li {
	font-family: 'Lato', sans-serif;
}

.list_2 ol li {
	font-family: 'Lato', sans-serif;
}

.list_3 ol li {
	font-family: 'Lato', sans-serif;
}

body header nav ul li {
	float:right;
	list-style: none;
}

nav ul li{
	font-size: 25px;
	padding: 10px;
}

.description {
	background-color: #0E588D;
	background-image:url('../assets/hero.png');
	background-repeat: no-repeat;
	height: 433px;
	width: 100%;
	float: left;
}

.description h3 p {
	 width: 300px;
   border: 25px solid green;
   padding: 25px;
   margin: 25px;
}